g(stroke-width='1', fill='none', fill-rule='evenodd')
  g(transform='translate(2.000000, 9.000000)', stroke-width='3')
    polygon(points='143 156 109.111111 156 109.111111 101.724684 54.8888889 101.724684 54.8888889 156 21 156 21 77.8477847 82 29 143 77.8477847')
    polyline(points='163 65 81.5 0 40.75 32.5215964 40.75 13.5506652 13.5833333 13.5506652 13.5833333 54.2022372 0 65')
