$imgAPI-architect0: 'https://via.placeholder.com/1200x705/0fad41/FFFFFF';
$imgAPI-architect1: 'https://via.placeholder.com/270x320/189a96/FFFFFF';
$imgAPI-architect2: 'https://via.placeholder.com/270x320/189a96/FFFFFF';
$imgAPI-architect3: 'https://via.placeholder.com/270x320/189a96/FFFFFF';
$imgAPI-architect4: 'https://via.placeholder.com/700x462/8e8e8e/FFFFFF';
$imgAPI-architect5: 'https://via.placeholder.com/700x462/52596b/FFFFFF';
$imgAPI-architect6: 'https://via.placeholder.com/700x463/8e8e8e/FFFFFF';
$imgAPI-architect7: 'https://via.placeholder.com/700x463/52596b/FFFFFF';
$imgAPI-architect8: 'https://i.ibb.co/NpTx0KV/home.png';
$imgAPI-architect9: 'https://i.ibb.co/zrBfxhz/architect-team.png';
$imgAPI-architect10: 'https://i.ibb.co/zrBfxhz/architect-team.png';
$imgAPI-architect11: 'https://i.ibb.co/zrBfxhz/architect-team.png';
$imgAPI-architect12: 'https://i.ibb.co/zrBfxhz/architect-team.png';
$imgAPI-architect13: 'https://i.ibb.co/zrBfxhz/architect-team.png';
$imgAPI-architect14: 'https://i.ibb.co/zrBfxhz/architect-team.png';
$imgAPI-architect15: 'https://i.ibb.co/FmLNd8z/parallax-hgey7l.jpg';
